* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  background-color: darkgrey;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 5px rgb(148, 23, 23);
}
nav {
  flex: 5 1 100px;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
nav ul li a {
  text-decoration: none;
  color: rgb(75, 35, 35);
  font-size: 1.5rem;
}
ul li a.active {
  color: rgb(180, 12, 12);
}
nav ul li a:hover {
  color: rgb(190, 10, 10);
  text-shadow: 2px 2px;
}

h3 {
  border-bottom: 3px solid rgb(109, 103, 103);
  margin: 0rem 20rem;
}
div.text {
  flex: 1 1 400px;
  margin: 0rem 1rem;
}
main section.back-1 {
  min-height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 2rem;
}
/*滑鼠游標*/

div.hover a:hover {
  color: rgb(133, 23, 23);
}
div.two-1 a {
  color: rgb(124, 122, 122);
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
}
footer {
  text-align: center;
}
footer a img {
  margin: 0rem 3rem;
  width: 3vw;
  height: 3vw;
}
